@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Räknare</h1>

<p role="status" class="@CountTextClass">Nuvarande värde: @currentCount</p>

<div class="mb-2">
    <button class="@IncButtonClass me-2" @onclick="Increment">+1</button>
    <button class="@DecButtonClass me-2" @onclick="Decrement">-1</button>
    <button class="btn btn-secondary" @onclick="Reset">Återställ</button>
</div>

@code {
    private int currentCount = 0;

    private string CountTextClass =>
    currentCount > 0 ? "text-success"
    : currentCount < 0 ? "text-danger"
    : "";

    private string IncButtonClass =>
    currentCount >= 0 ? "btn btn-success" : "btn btn-outline-success";

    private string DecButtonClass =>
    currentCount <= 0 ? "btn btn-danger" : "btn btn-outline-danger";

    private void Increment() => currentCount++;
    private void Decrement() => currentCount--;
    private void Reset() => currentCount = 0;

}

@*Gamla koden:
<p role="status" class="@CountTextClass">Nuvarande värde: @currentCount</p>

<div class="mb-2">
    <button class="@IncButtonClass me-2" @onclick="Increment">+1</button>
    <button class="@DecButtonClass me-2" @onclick="Decrement">-1</button>
    <button class="btn btn-secondary" @onclick="Reset">Återställ</button>
</div>

@code {
    private int currentCount = 0;

    private string CountTextClass =>
    currentCount > 0 ? "text-success"
    : currentCount < 0 ? "text-danger"
    : "";

    private string IncButtonClass =>
    currentCount >= 0 ? "btn btn-success" : "btn btn-outline-success";

    private string DecButtonClass =>
    currentCount <= 0 ? "btn btn-danger" : "btn btn-outline-danger";

    private void Increment() => currentCount++;
    private void Decrement() => currentCount--;
    private void Reset() => currentCount = 0;

}*@