@inject BankApp.Interface.IPinLockService Pin
@inject NavigationManager Nav
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    /// <summary>
    /// Runs when the layout is first initialized.
    /// Checks if the user has entered the correct PIN.
    /// If not, redirects them to the login page.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await Pin.InitializedAsync();

        if (!Pin.IsUnlocked)
        {
            Nav.NavigateTo("/login");
        }
    }
}