@inject IPinLockService Pin
@inject NavigationManager Nav
@inject IAccountService AccountService
@inherits LayoutComponentBase 

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    /// <summary>
    /// Runs when the layout is first initialized.
    /// Checks if the user has entered the correct PIN.
    /// If not, redirects them to the login page.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await Pin.InitializedAsync();

        if (!Pin.IsUnlocked)
        {
            Nav.NavigateTo("/login");
            return;
        }

        // Starts automatic interest updates for all accounts (runs for the entire app´s lifetime).
        AccountService.AutoInterestUpdates();
    }
}